/vendor/
.DS_Store
readme.html
license.txt
sitemap.xml
sitemap.xml.gz
wp-content/upgrade/*
wp-content/plugins/*
/nbproject/*
/.com.apple.timemachine.supported
/wp-content/debug.log
/wp-content/uploads/
/node_modules/