footer{
    .footer-text{
        padding: 30px 0px 40px 0;
        background: @gray;
        border-top: 1px solid #b7b7b7;
        color: #888888;
        font-size: 16px;
        text-align: center;
        p{
            padding: 2px;
        }
        a{
            color: @blue;
            text-decoration: underline;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}