nav{
    &.navbar{
        margin:90px 0 0 0 ;
        border:none;
        .border-radius(0);
        background:none;
        ul#menu-main-menu{
            li{
                height:92px;
                width:115px;
                display:block;
                margin:5px;
                &:first-child{
                    margin-left:0;
                }
                &:last-child{
                    margin-right:0;
                }
                &.nav-item-home{
                    background:url(../img/nav/home-menu.png) 100% 100% no-repeat; 
                    &.active, &:hover{
                        background:url(../img/nav/home-active.png) 100% 100% no-repeat;
                    }
                }
                &.nav-item-about{
                    background:url(../img/nav/about-menu.png) 100% 100% no-repeat;
                    &.active, &:hover{
                        background:url(../img/nav/about-active.png) 100% 100% no-repeat;
                    }
                }
                &.nav-item-menu{
                    background:url(../img/nav/menu-menu.png) 100% 100% no-repeat;
                    &.active, &:hover{
                        background:url(../img/nav/menu-active.png) 100% 100% no-repeat;
                    }
                }
                &.nav-item-gallery{
                    background:url(../img/nav/gallery-menu.png) 100% 100% no-repeat;
                    &.active, &:hover{
                        background:url(../img/nav/gallery-active.png) 100% 100% no-repeat;
                    }
                }
                &.nav-item-news-events{
                    background:url(../img/nav/news-menu.png) 100% 100% no-repeat;
                    &.active, &:hover{
                        background:url(../img/nav/news-active.png) 100% 100% no-repeat;
                    }
                }
                &.nav-item-contact{
                    background:url(../img/nav/contact-menu.png) 100% 100% no-repeat;
                    &.active, &:hover{
                        background:url(../img/nav/contact-active.png) 100% 100% no-repeat;
                    }
                }
                a{
                    line-height: 0; 
                    font-size: 0;
                    color: transparent; 
                    display:block;
                    width:100%;
                    height:92px;
                }
            }
        }
        .navbar-collapse{
            .row();
            padding:0;
        }
    }
}