/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2014, 1:11:23 PM
    Author     : scordle
*/

// COLORS
@black: #000;
@white: #fff;
@gray: #837f74;
@darkgray: #4c4c42;
@lightrust: #b96502;
@rust: #8d3900;
@beige: #f7ebd7;

.display-table{
    display:table;
}
.display-table-cell{
    display:table-cell;
    vertical-align:middle;
}

// FONTS
@opensans: "Open Sans";
@opensanscondensed: "Open Sans Condensed";

// SPECIAL STYLES
.bold{
    font-weight:bold;
}

.btn-plain{
    .border-radius(0);
    border:none;
}
